body {
  background-color: #000000;
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.form-control:focus {
  border-color: #000000;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(0, 0, 0, 0.6);
}


.coloring{
  background-color: #202020;
}

a{
  color: #636363;
  
}
a:hover{
  color: #ffffff;
}

.form{
  width: 400px;
  margin: auto;
  max-width: 70%;
}

.nav-linki{
  color: #ffffff;
}